# Core functionality - changes here should be rare!
/src/app.py                   @saikumarpuvvadi
/src/backend/database.py      @saikumarpuvvadi
/src/backend/routers/auth.py  @saikumarpuvvadi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @saikumarpuvvadi
